/* --------------------------------------------------
CSS Document For Leaves v1.0 - Anthonyy @ OSWD.org
Heavily modified for POE's wiki by Rocco Caputo.
Incorporates ideas summarized at
http://www.alistapart.com/articles/holygrail
-------------------------------------------------- */

/*
	HOLY GRAIL      POE.PERL.ORG
	header          header
	container       container
		left            navigation
		center          content
		right           sidebar
	footer          footer

	fw = fullwidth
*/

/* BASIC PAGE STRUCTURE */

body {
	min-width: 630px;
}

#container {
	padding-left: 170px;
	padding-right: 210px;
}

#container .column {
	position: relative;
	float: left;
}

#navigation {
	width: 150px;
	padding: 0 10px;
	right: 210px;
	margin-left: -100%;
}

#sidebar {
	width: 150px;
	padding: 0 10px;
	margin-right: -100%;
}

#content {
	padding: 10px 20px;
	width: 100%;
}

#footer {
	clear: both;
	text-align: right;
}

/* IE Fix */

* html #left {
	left: 170px;
}

/* Equal height columns? */

#container {
	overflow: hidden;
}

#container .column {
	padding-bottom: 1001em; /* X + padding-bottom */
	margin-bottom: -1000em; /*  X */
}

/* Footer Fix */

* html body {
	overflow: hidden;
}

* html #footer-wrapper {
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	background: #FFF; /* match body BG */
}

/* STYLING - Global */

body {
	/* Lucida Grande for the Macs, Tahoma for the PCs */
	font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 150%;
	color: #111111;
	background-color: #FFF;
}

pre {
	font-size: 8pt;
	line-height: 120%;
}

a {
	color: #4040FF;
	text-decoration: none;
}

b {
	color: #000000;
}

a:hover {
	color: #4040FF;
	background-color: #F5F5F5;
}

a.rss {
	color: #D95C28 !important;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

/* STYLING - Column Container */

#container h1 {
	color: #222222;
}

#container h2 {
	color: #222222;
}

/* STYLING - Navigation Column */

#navigation {
	font-size: 8pt;
}

#navigation ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	width: 100%;
}

#navigation a {
	display: block;
	padding: 5px;
	width: 140px; /* navigation width - padding x2 */
	border-bottom: 1px solid #CCC;
}

#navigation a:link, #navlist a:visited {
	color:#4040FF;
	text-decoration: none;
}

#navigation a:hover {
	background: #000000;
	background-color: #F5F5F5;
	color:#4040FF;
}

/* STYLING - Header */

#header {
	border-bottom: 4px solid #948979;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	clear: both;
	margin-bottom: 10px;
	background-color: #E8E8FF;
}

#header h1 {
	/* background-color: #E8E8FF; */
	font-weight: normal;
	font-size: 24pt;
	color: #4040FF;
	margin-bottom: 30px;
	margin-left: 8px;
}

#header p { /* slogan */
	margin-top: -20px;
	margin-left: 30px;
	color: #606060;
}

#header form {
	float: right;
	margin-top: -45px;
	font-size: 10pt;
	margin-right: 8px;
}

#header input {
	background-color: #FFF;
	color: #606060;
	border: 1px solid #CCC;
	font-size: 8pt;
	padding: 3px;
}

#header .button {
	padding: 2px;
}

/* STYLING - Footer */

#footer {
	margin-top: 20px;
	background-color:#E8E8FF;
	padding: 5px;
	font-size: 8pt;
	line-height: 120%;
}

#footer p {
	color: #89817f;
	padding: 5px;
}

#footer p a {
	color: #89817f;
	border-bottom: 1px dotted #89817f;
}

#footer p a:hover {
	color: #FFFFFF;
	background-color:#575352;
}

/* STYLING - Sidebar Badges */

#sidebar .badge {
	width: 150;
	padding-bottom: 10px !important;
}

#sidebar .delicious-blogbadge-tall {
	width: 97% !important;
}

#sidebar .delicious-blogbadge-tall .post-count-label-after {
	display: none !important;
}

/* STYLING - Source Code */

#code {
	background-color: #EEEEEE;
	border: 1px solid #000000;
}

#code pre {
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding: 1ex 1ex;
}

#code .pd { color: #404080;} /* pod-text */
#code .c  { color: #404080;} /* comment */

#code .cm { color: #800097;} /* comma */
#code .co { color: #800097;} /* colon */

#code .h  { color: #804848;} /* here-doc-target */
#code .hh { color: #800000;} /* here-doc-text */
#code .q  { color: #800000;} /* quote */
#code .v  { color: #800000;} /* v-string */

#code .i  { color: #008080;} /* identifier */

#code .k  { color: #0000FF;} /* keyword */
#code .n  { color: #E02020;} /* numeric */

#code .m  { color: #C00080;} /* subroutine */
#code .j  { color: #C00080;} /* label */
#code .w  { color: #C00080;} /* bareword */

#code .p  { color: #800080;} /* paren */
#code .s  { color: #800080;} /* structure */
#code .sc { color: #800080;} /* semicolon */

#code .pu { color: #C44800;} /* punctuation */

/* And they lived happily ever after. The End. */
