/* --------------------------------------------------
CSS Document For Leaves v1.0 - Anthonyy @ OSWD.org
Heavily modified for POE's wiki by Rocco Caputo.
-------------------------------------------------- */

/* CONTAINER */

#container {
	width: 750px;
	margin: 0 auto;
	/* Lucida Grande for the Macs, Tahoma for the PCs */
	font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 120%;
	color: #111111;
	background-color: #FFF;
	text-align: left; /* For IE, thanks to Tsz Ming WONG */
}

/* GENERAL MOJO AND MULA */

body { /* For IE, thanks to Tsz Ming WONG */
	text-align: center
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 24pt;
	color: #4040FF;
	margin-bottom: 30px;
	background-color: #FFF;
}

h2 {
	color: #222222;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

pre {
	font-size: 8pt;
	margin-bottom: 0pt;
	line-height: 100%;
}

a {
	color:#4040FF;
	text-decoration: none;
}

b {
	color: #000000;
}

a:hover {
	color:#4040FF;
	background-color: #F5F5F5;
}


form {
	float: right;
	margin-top: -45px;
	font-size: 10pt;
}

input {
	background-color: #FFF;
	color: #606060;
	border: 1px solid #CCC;
	font-size: 8pt;
	padding: 3px;
}

.button {
	padding: 2px;
}

/* HEADER ELEMENTS */

#header {
	border-bottom: 4px solid #948979;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	clear: both;
	margin-bottom: 10px;
	background-color: #E8E8FF;
}

#header h1 {
	background-color: #E8E8FF;
}

/* the slogan */

#header p {
	margin-top: -20px;
	margin-left: 30px;
	color: #606060;
}

/* NAVIGATION ELEMENTS */

#navigation {
	float: left; /* For IE, thanks to Phil Whelan */
	font-size: 8pt;
	width: 100px
}

#navigation ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	float: left;
	width: 100%;
}

#navigation a {
	display: block;
	padding: 5px;
	width: 90px; /* navigation width - padding x2 */
	border-bottom: 1px solid #CCC;
}

#navigation a:link, #navlist a:visited {
	color:#4040FF;
	text-decoration: none;
}

#navigation a:hover {
	background: #000000;
	background-color: #F5F5F5;
	color:#4040FF;
}

/* THE SMALL BOX BELOW NAV */

#navigation p {
	margin-top: 40px;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
	border-top: 1px dotted #CCC;
}

/* CONTENT ELEMENTS */

#content {
	width: 470px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

#content p {
	padding-bottom: 0.1em;
	/* border-bottom: 1px solid #DDDDDD;  A faint grey line below the text */
}

#content form {
	float: left;
	margin-top: 0px;
}

/* SIDEBAR ELEMENTS */

#sidebar {
	float: right;
	width: 150px;
}

#sidebar p {
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
}

/* FOOTER ELEMENTS */

#footer {
	margin-top: 20px;
	clear: both;
	float: left;
	width: 100%;
	background-color:#E8E8FF;
	padding: 5px;
	font-size: 8pt;
}

#footer p {
	color:#89817f;
	padding: 5px;
}

#footer p a {
	color: #89817f;
	border-bottom: 1px dotted #89817f;
}

#footer p a:hover {
	color: #FFFFFF;
	background-color:#575352;
}

/* Sidebar badges. */

.badge {
	width: 150;
	padding-bottom: 10px !important;
}

.delicious-blogbadge-tall {
	width: 97% !important;
}

.delicious-blogbadge-tall .post-count-label-after {
	display: none !important;
}

/* source code highlighting */

.pd { color: #404080;} /* pod-text */
.c  { color: #404080;} /* comment */

.cm { color: #800097;} /* comma */
.co { color: #800097;} /* colon */

.h  { color: #804848;} /* here-doc-target */
.hh { color: #800000;} /* here-doc-text */
.q  { color: #800000;} /* quote */
.v  { color: #800000;} /* v-string */

.i  { color: #008080;} /* identifier */

.k  { color: #0000FF;} /* keyword */
.n  { color: #E02020;} /* numeric */

.m  { color: #C00080;} /* subroutine */
.j  { color: #C00080;} /* label */
.w  { color: #C00080;} /* bareword */

.p  { color: #800080;} /* paren */
.s  { color: #800080;} /* structure */
.sc { color: #800080;} /* semicolon */

.pu { color: #C44800;} /* punctuation */

/* And they lived happily ever after. The End. */
