/* TITLE: Stylesheet for Purple Haze */
/* URI  : /purplehaze/purplehaze.css */
/* MODIF: 2002-12-15 17:34 +0800     */
/* Heavily modified for poe.perl.org */


/* ###### Color Scheme ###### */

/*
 * CHANGING THE COLOR SCHEME
 * -------------------------
 * 
 * Four basic colors were used in the design. To change the
 * color scheme, just edit these four values below.
 *
 */

.topOfPage, q, h1, h2, h3, .headerTitle, .headerLinks, .headerLinks *, .sideBox div, #footer *
{ /* Text Color: */  color: #8080ff; }

q, h1, h2,  #header, .sideBox, .sideBox div, #footer
{ /* Border Color: */  border-color: #8080ff; }

#header, .sideBox div, .sideBox a:hover
{ /* Background Color (darker): */  background-color: #e8e8ff; }

q, .sideBox a, .sideBox span #footer
{ /* Background Color (lighter): */  background-color: #fcfcff; }


/* ###### Browser-specific Styles ###### */

/* For IE & Mozilla-based browsers: */

.LHS {
  margin-left: 5mm;
  float: left;
  clear: left;
}

.RHS {
  margin-right: 5mm;
  float: right;
  clear: right;
}

/* For Mozilla-based (CSS2-fully complaint) browsers only: */

[class~="LHS"] {
  margin-left: 5mm;
}

[class~="RHS"] {
  margin-right: 5mm;
}


/* ###### Body Text ###### */

#bodyText {
  line-height: 1.5em;
  margin: 5mm 12em 0mm 12em;
  padding: 0 1em 1ex 1em;
}

#bodyText p {
  padding-top: 1ex;
}

#bodyText b {
}

#bodyText dl {
}

#bodyText dt {
}

#bodyText dd {
  padding-top: 1ex;
  padding-bottom: 1ex;
}

a:hover {
  text-decoration: underline;
}

.topOfPage {
  font-size: 100%;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: none;
  padding-left: 1ex;
  padding-right: 1ex;
  float: right;
}

.smallCaps {
  font-variant: small-caps;
}

body {
  background-color: white;
  color: black;
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  font-size: 100%;
  margin: 0;
}

h1, h2, h3 {
  font-family: "trebuchet ms", tahoma, sans-serif;
  color: #202080;
}

h1 {
  color: #202080;
  font-weight: bold;
  font-size: 150%;
  border-bottom: 1px solid;
}

h2 {
  color: #202080;
  font-weight: bold;
  font-size: 125%;
  border-bottom: 1px solid;
}

h3 {
  color: #202080;
  font-weight: bold;
  font-size: 112%;
  border-bottom: 1px solid;
}

h4 {
  color: #202080;
  font-weight: bold;
  font-size: 100%;
  border-bottom: 1px solid;
}

acronym {
  background-color: inherit;
  color: teal;
  border-bottom: 1px dashed teal;
  cursor: help;
}

code {
  font-family: "lucida console", monospace;
  font-size: 100%;
}

img {
  border: 0;
}

q {
  font-family: tahoma, verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  border: 2px dotted;
  margin: 0 1em 1ex 1em;
  padding: 0.5ex 0.5ex 0.5ex 1ex;
  width: 9em;
  float: left;
}

.q_right {
    float: right;
}

/* ###### Header ###### */

#header {
  border-bottom: 2px solid;
  height: 5em;
  margin-bottom: 5mm;
  padding: 1em 2.5mm 0 5mm;
}

.headerTitle {
  font-size: 300%;
}
.headerTitle a, .headerTitle a:hover {
    text-decoration: none;
    background: inherit;
    color: #8080ff;
}

.headerLinks {
  text-align: right;
}

.headerLinks * {
  text-decoration: none;
  font-weight: bold;
  padding-right: 1ex;
}

.headerLinks a:hover {
  text-decoration: underline;
}


/* ###### Side Box ###### */

.delicious-blogbadge-tall {
  width: 97% !important;
}

.post-count-label-after {
  visibility: hidden ! important;
  display: none ! important;
}

.post-count-label-before {
  visibility: hidden ! important;
  display: none ! important;
}

.url-link:before {
  content: "bookmarks: ";
  display: inline;
}

.delBox {
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 10em;
  margin-top: 5mm;
  margin-left: 5mm;
  float: left;
  clear: left;
}

.ohloBox {
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 10em;
  margin-top: 5mm;
  margin-left: 5mm;
  float: left;
  clear: left;
}

.sideBox {
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 10em;
  margin-top: 5mm;
}

.sideForm {
  padding: 1ex 0.75em 0ex 0.75em;
  width: 10em;
}

.sideSearch {
  width: 10em;
}

.sideBox div {
  font-weight: bold;
  border-bottom: 1px dashed;
  padding: 0.5ex 0.5em 0.5ex 0.75ex;
}

.sideBox a, .sideBox a:hover, .sideBox span {
  color: black;
  text-decoration: none;
  line-height: 1.25em;
  display: block;
  padding: 1ex 0.5em 1ex 0.75em;
}


/* ###### Footer ###### */

#footer {
  color: inherit;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-top: 0.75ex;
  padding-bottom: 0.75ex;
  clear: left;
}

.footerImg {
  padding-right: 3mm;
  padding-top: 2mm;
  float: right;
}

#footer div {
  padding-left: 3mm;
}

#footer * {
  background-color: inherit;
  font-size: 92%;
}

footer a:hover {
  text-decoration: underline;
}

.footerCol2 {
  position: absolute;
  left: 7em;
}

/* source code highlighting */

.pd { color: #404080;} /* pod-text */
.c  { color: #404080;} /* comment */

.cm { color: #800097;} /* comma */
.co { color: #800097;} /* colon */

.h  { color: #804848;} /* here-doc-target */
.hh { color: #800000;} /* here-doc-text */
.q  { color: #800000;} /* quote */
.v  { color: #800000;} /* v-string */

.i  { color: #008080;} /* identifier */

.k  { color: #0000FF;} /* keyword */
.n  { color: #E02020;} /* numeric */

.m  { color: #C00080;} /* subroutine */
.j  { color: #C00080;} /* label */
.w  { color: #C00080;} /* bareword */

.p  { color: #800080;} /* paren */
.s  { color: #800080;} /* structure */
.sc { color: #800080;} /* semicolon */

.pu { color: #C44800;} /* punctuation */

/**** Inline STYLE-tag style sheet ****/
